$dark:rgb(37,35,49);
$light:rgb(48,47,59);
$neon:rgb(254,87,74);

$dark_transparent:rgba(37,35,49,.85);
$neon_transparent: rgba(255,90,67,.8);
$grey:rgb(121,120,125);
$lightgrey:rgb(221,220,225);
$darkgrey:rgb(50,50,50);
$beige:#BDBDBD;