.relatedContent {
width: 100%;
min-height: 400px;

background: #dddce1;
position: relative;
height: 300px;
left: 0;
display: table;
margin-bottom: 150px;
transition-duration: .5s;

	& .teaser {

		width: 50%;
		float: left;
		min-height: 500px;
		position: relative;
		box-sizing: border-box;
		font-family: 'Open Sans',sans-serif;
		background: #ccc;
		margin-bottom: 3em;
		cursor: pointer;
		transition-duration:.25s;
		background-size: cover;
		background-size: cover;
		background-position: center center;
	
		box-shadow: 0 0 1.9em 0px rgba(50,50,50,0.05);
		
		&::before{
			content:'';
			display:block;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			transition-duration:.25s;
			opacity: 0.85;
			background: #302f3b;
		}	

		& a, p{
			font-size: 0.8em;
			line-height: 2em;
			color: #fff;
			padding: 0 8vw;
		}

		&:hover{
			&::before{

			-webkit-filter: blur(20px);
			-moz-filter: blur(20px);
			filter: blur(20px);
				opacity:0;
			}
			& .info{
				display:none;
			}
			& .play{
				display: block;
			}

		}
		& a.teaserLink {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		& a.backgroundLink {
			width: 100%;
			height: 100%;
			position: absolute;
			color: #fff;
		}
		& .inner {
			width: 100%;
			height: 100%;
			display: table;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
		
		& .info {
			text-align: center;
			box-sizing: border-box;
			display: table-cell;
			vertical-align: middle;
			font-size: 2em;
			font-family: 'Merriweather',serif;
			line-height: 3em;	
		}
		
		& .backgroundProject {
			color: #fff;
			font-weight: bold;
		}
		& .play{
			width: 100px;
			height: 100px;
			transition-duration: .5s;
			border: 10px solid #fe574a;
			border-radius: 50%;
			cursor: pointer;
			display: none;
			&::before{
				border-right: 20px solid transparent;
				border-left: 30px solid #fe574a;
				border-bottom: 20px solid transparent;
				border-top: 20px solid transparent;
			}
		}
		
	}
}
