html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  position: relative;
  background-color: #fe574a; }

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

section {
  width: 100%;
  position: relative;
  text-align: center; }

.inner-about {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 100px 0 0 0; }

.platzhalter {
  height: 95%;
  min-height: 800px;
  width: 100%;
  background: -webkit-linear-gradient(#a53030, #fe574a);
  background: -o-linear-gradient(#a53030, #fe574a);
  background: -moz-linear-gradient(#a53030, #fe574a);
  background: linear-gradient(#a53030, #fe574a); }
  .platzhalter .spitzmarke-about {
    margin: 50px 0 0 0; }
  .platzhalter .headline-about {
    margin: 50px 0 0 0; }
    .platzhalter .headline-about p {
      font-size: 3em; }
  .platzhalter .date-coming {
    font-size: 2em;
    margin: 1.5em 0 0em; }
  .platzhalter .stay-tuned {
    margin: 0.5em 0 0 0; }
  .platzhalter a {
    border-bottom: 1px solid white;
    color: white;
    padding: 0px 0 2px 0;
    position: relative; }
  .platzhalter a:hover {
    color: #272727;
    border-bottom: 1px solid #272727; }
  .platzhalter .intro-platzhalter {
    font-size: 1.6em;
    line-height: 1.4em;
    text-align: left;
    width: 40%;
    min-width: 600px;
    margin: 250px 0 0 0;
    line-height: 1.7em;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    left: 32%;
    position: absolute; }

.eye {
  position: absolute;
  margin: 300px 0 0 0;
  height: 70px;
  width: 70px;
  -webkit-animation: blink 4s infinite; }
  .eye img {
    /*background: url(../media/eye.svg);
    	@include bg-image;
    	background-size: 50px 50px;*/
    height: 100%;
    width: 100%; }

.lefty {
  left: 10%; }

.righty {
  right: 10%; }

#heythere {
  height: 100%;
  background-color: #272727;
  font-weight: 700;
  padding: 100px 0 0 0; }
  #heythere .gestalten {
    background: url(../media/gestalten-ohne.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 475px;
    width: 800px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
    #heythere .gestalten .zwinkern {
      height: 10px;
      width: 30px;
      position: absolute; }
      #heythere .gestalten .zwinkern img {
        width: 100%;
        height: 100%; }
    #heythere .gestalten .augen-brut {
      margin: 70px 0 0 370px;
      -webkit-animation: blinksmall 4s infinite; }
    #heythere .gestalten .augen-broots {
      margin: 190px 0 0 460px;
      -webkit-animation: blinksmallbroots 3s infinite; }

.spitzmarke-about {
  font-size: 1.6em;
  line-height: 1.4em;
  float: left;
  width: 30%;
  text-align: right;
  padding: 73px 0 0 0;
  left: 0;
  position: absolute;
  font-weight: 700; }

.headline-about {
  font-size: 3em;
  font-weight: 700;
  width: 68%;
  float: left;
  text-align: left;
  right: 0;
  position: absolute; }
  .headline-about p {
    font-size: 3em; }

#quote-broots {
  padding: 0 0  0;
  background-color: #e24840;
  font-family: 'Merriweather', serif; }
  #quote-broots p {
    font-size: 2em;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5em; }
  #quote-broots .diedrei {
    position: relative;
    height: 186px;
    width: 620px;
    margin: 130px auto 0; }
    #quote-broots .diedrei div {
      position: relative;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
      float: left; }
    #quote-broots .diedrei .monster1 {
      -webkit-animation: swap 5s infinite;
      height: 219px;
      width: 200px; }
    #quote-broots .diedrei .monster2 {
      -webkit-animation: swap 6s infinite;
      height: 185px;
      width: 227px; }
    #quote-broots .diedrei .monster3 {
      -webkit-animation: swap 7s infinite;
      height: 181px;
      width: 160px;
      margin: 40px 0 0 20px; }

#explaination {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
  line-height: 1.5em; }

@-webkit-keyframes swap {
  0% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }

  1% {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); }

  69% {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); }

  70% {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }

/*------------ repeating grafiks*/
.button-outer {
  width: 170px;
  height: 170px;
  position: relative;
  margin: 0 auto;
  -webkit-border-radius: 115px;
  -moz-border-radius: 115px;
  -ms-border-radius: 115px;
  border-radius: 115px;
  background-color: #272727;
  border: 30px solid #ffffff;
  z-index: 2;
  -webkit-animation: start 2s infinite; }

.inner-circle {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-color: #fe574a;
  margin: 55px 0 0 55px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer; }

.linevertical {
  height: 2px;
  width: 150px;
  background-color: #fff;
  position: relative;
  top: auto;
  left: 50%;
  margin: 30px 0 0 -150px; }

/*----------- grafik krams*/
.step-further {
  font-size: 3em;
  padding: 100px 0 200px 0;
  font-weight: 700; }
  .step-further .start-about {
    text-align: center; }
    .step-further .start-about p {
      padding: 0 0 40px; }
    .step-further .start-about .button-outer {
      margin: 30px auto 0; }
  .step-further .line {
    height: 300px;
    width: 2px;
    background-color: #272727;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 50%;
    margin: -1px 0 0 -2px; }

.pre-production {
  height: 800px;
  background-color: #272727; }
  .pre-production .line {
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 50%;
    margin: -1px 0 0 -2px; }
  .pre-production .inner-circle {
    margin: 0 auto;
    top: 350px;
    background-color: white;
    -webkit-animation: start 2s infinite; }
  .pre-production .launchfirst {
    height: 360px;
    width: 360px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    border-radius: 180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #fff;
    position: absolute;
    top: 200px;
    z-index: 3;
    left: 50%;
    margin: 0 0 0 -510px; }
    .pre-production .launchfirst .inner-text {
      padding: 60px 20px 20px 20px;
      text-align: center;
      font-size: 3em; }
    .pre-production .launchfirst .small {
      font-size: 2em; }
  .pre-production .right-collum {
    width: 40%;
    text-align: left;
    padding: 100px 0 0 0;
    right: 0;
    position: absolute;
    font-size: 1.6em;
    line-height: 1.4em; }

.event-production {
  height: 850px;
  font-size: 1.6em;
  line-height: 1.4em;
  color: #272727; }
  .event-production .description-event {
    width: 450px;
    text-align: left;
    float: left;
    position: absolute;
    margin: 220px 0 0 0; }
    .event-production .description-event p {
      font-size: 3em;
      padding: 0 0 70px 0; }
  .event-production .text-rec {
    position: absolute;
    left: 50%;
    margin: 310px 0 0 240px;
    font-size: 1.3em;
    line-height: 1.4em; }
  .event-production .graphics-event {
    margin: 100px 0 0 0; }
    .event-production .graphics-event .linevertical2 {
      height: 2px;
      width: 300px;
      background-color: #fff;
      position: relative;
      top: auto;
      left: 50%;
      margin: -115px 0 0 0; }
    .event-production .graphics-event .record {
      width: 140px;
      height: 140px;
      -webkit-border-radius: 70px;
      -moz-border-radius: 70px;
      -ms-border-radius: 70px;
      border-radius: 70px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #272727;
      border: 3px solid #fff;
      position: absolute;
      left: 50%;
      margin: -71px 0 0 200px;
      z-index: 10; }
      .event-production .graphics-event .record .record-sign {
        -webkit-animation: Pulse 2s infinite;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        border-radius: 25px;
        background-color: #ff1800;
        margin: 43px 0 0 43px; }
  .event-production .line {
    height: 100%;
    width: 2px;
    background-color: #353535;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 50%;
    margin: -1px 0 0 -2px; }

.work-ip {
  background-color: #272727;
  height: 900px;
  font-size: 1.6em;
  line-height: 1.4em; }
  .work-ip .line {
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 50%;
    margin: -1px 0 0 -2px; }
  .work-ip .inner-circle {
    margin: 100px auto 0;
    background-color: white;
    -webkit-animation: start 2s infinite; }
    .work-ip .inner-circle .linevertical {
      width: 100px;
      margin: 30px 0 0 -100px; }
  .work-ip .wheels {
    position: absolute;
    margin: 50px 0 0 -400px;
    left: 50%; }
    .work-ip .wheels p {
      margin: 30px 0 0 -100px;
      text-align: right; }
    .work-ip .wheels .gear {
      background: url(../media/gear.svg);
      background-repeat: no-repeat;
      background-size: 160px;
      height: 160px;
      width: 160px;
      float: left;
      -webkit-animation: spincw 4000ms infinite linear; }
    .work-ip .wheels .anders {
      background: url(../media/gear2.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 160px;
      width: 160px;
      -webkit-animation: spinccw 4000ms infinite linear;
      margin: 0 0 0 160px; }
  .work-ip .cloud {
    background: url(../media/cloud.svg);
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin: 350px 0 0 100px;
    width: 300px; }
    .work-ip .cloud p {
      margin: 200px 0 0 0;
      text-align: left; }
    .work-ip .cloud .inner-circle {
      margin: 100px 0 0 -130px;
      background-color: white;
      -webkit-animation: start 2s infinite;
      cursor: pointer; }
      .work-ip .cloud .inner-circle .linevertical {
        margin-left: 0px;
        width: 160px; }
  .work-ip .text-work {
    width: 50%;
    position: absolute; }
  .work-ip .wheely {
    width: 40%;
    margin: 100px 0 0 80px;
    text-align: left;
    left: 50%; }

.final-launch {
  height: 100%;
  font-size: 3em;
  font-weight: 700; }
  .final-launch p {
    top: 500px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  .final-launch .line {
    height: 250px;
    width: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 50%;
    margin: -1px 0 0 -2px;
    bottom: auto;
    top: 0; }
  .final-launch .button-outer {
    top: 250px; }

.dieMacher {
  position: relative;
  height: 1450px;
  background-color: #272727; }
  .dieMacher p {
    position: relative;
    width: 100%;
    margin: 80px 0 0 0;
    text-align: center;
    font-size: 3em; }
  .dieMacher .inner-about {
    width: 90%;
    padding: 20px 0 0 0;
    max-width: 800px; }
  .dieMacher ul {
    height: 230px;
    margin: 0 auto;
    text-align: left; }
    .dieMacher ul li {
      width: 90%;
      position: relative;
      margin: 0 auto;
      border-bottom: 1px solid #3d3d3d;
      padding: 0 0 50px 0; }
      .dieMacher ul li .description {
        position: relative;
        margin: 30px 0 3em 0;
        font-size: 1.3em;
        line-height: 1.4em; }
      .dieMacher ul li .social-about {
        width: 100px;
        margin: 0 auto; }
      .dieMacher ul li .social-about a {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40px;
        width: 40px;
        position: relative; }
    .dieMacher ul .bett-macher {
      left: 0;
      position: relative; }
      .dieMacher ul .bett-macher .bett-logo img {
        width: 100%; }
    .dieMacher ul .sue-macher {
      right: 0;
      position: relative; }
      .dieMacher ul .sue-macher .sue-main {
        width: 44%;
        margin: 70px 0 0 0;
        float: left; }
      .dieMacher ul .sue-macher .sue-sec {
        width: 54%;
        margin: 70px 0 0 0; }

a.twitter-about {
  background: url(../media/twitter.svg);
  background-position: center center;
  float: left;
  display: block;
  opacity: 0.7; }

a.twitter-about:hover {
  opacity: 1; }

a.fb-about:hover {
  opacity: 1; }

a.fb-about {
  background: url(../media/facebook.svg);
  display: block;
  opacity: 0.7;
  margin: 0 0 0 70px; }

/*------------ animations */
@-webkit-keyframes Pulse {
  from {
    background-color: #9e0b00;
    -webkit-box-shadow: 0 0 9px #272727; }

  50% {
    background-color: #ff1800;
    -webkit-box-shadow: 0 0 18px #ff1800; }

  to {
    background-color: #9e0b00;
    -webkit-box-shadow: 0 0 9px #272727; } }

@-webkit-keyframes start {
  from {
    -webkit-box-shadow: 0 0 20px #fff; }

  50% {
    -webkit-box-shadow: 0 0 2px #fff; }

  to {
    -webkit-box-shadow: 0 0 20px #fff; } }

@-webkit-keyframes spincw {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spinccw {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-360deg); } }

@-webkit-keyframes blink {
  0% {
    height: 70px; }

  10% {
    height: 5px; }

  20% {
    height: 70px; } }

@-webkit-keyframes blinksmall {
  0% {
    height: 10px; }

  10% {
    height: 1px; }

  20% {
    height: 10px; } }

@-webkit-keyframes blinksmallbroots {
  30% {
    height: 10px; }

  40% {
    height: 1px; }

  50% {
    height: 10px; } }

.huzzle {
  background: url(../media/disco.gif);
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.wtf {
  background: url(../media/power.gif);
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.sceptic {
  background: url(../media/eddy.gif);
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.twin {
  background: url(../media/twinpeaks.gif);
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.cat {
  background: url(../media/cat.gif);
  background-size: 100%;
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.door {
  background: url(../media/door.gif);
  background-size: 100%;
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#cat, #twin, #door {
  cursor: pointer; }

/* ------------ media  queries */
@media screen and (max-width: 1280px) {
  .step-further {
    font-size: 2em;
    padding: 0px 0 100px 0; }
    .step-further .start-about p {
      padding: 0 0 50px; }
    .step-further .line {
      height: 200px; }

  .button-outer {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    border-radius: 70px;
    background-color: #272727;
    border: 20px solid #ffffff;
    z-index: 2;
    -webkit-animation: start 2s infinite; }

  .inner-circle {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background-color: #fe574a;
    margin: 30px 0 0 30px;
    position: absolute; }

  .linevertical {
    height: 2px;
    width: 150px;
    background-color: #fff;
    position: relative;
    top: auto;
    left: 50%;
    margin: 20px 0 0 -150px; }

  .pre-production {
    height: 600px; }
    .pre-production .inner-circle {
      top: 260px; }
    .pre-production .launchfirst {
      height: 260px;
      width: 260px;
      -webkit-border-radius: 130px;
      -moz-border-radius: 130px;
      -ms-border-radius: 130px;
      border-radius: 130px;
      top: 150px;
      margin: 0 0 0 -410px; }
      .pre-production .launchfirst .inner-text {
        padding: 50px 20px 20px 20px;
        text-align: center;
        font-size: 2em; }
      .pre-production .launchfirst .small {
        font-size: 1.3em;
        line-height: 1.4em; }
    .pre-production .right-collum {
      padding: 0 0 0 0;
      font-size: 1.3em;
      line-height: 1.4em; }

  .event-production {
    height: 650px;
    font-size: 1.3em;
    line-height: 1.4em; }
    .event-production .description-event {
      width: 300px;
      margin: 115px 0 0 0; }
      .event-production .description-event p {
        font-size: 2em;
        padding: 0; }
    .event-production .text-rec {
      margin: 190px 0 0 225px;
      font-size: 1.3em;
      line-height: 1.4em; }
    .event-production .graphics-event {
      margin: 50px 0 0 0; }
      .event-production .graphics-event .linevertical2 {
        height: 2px;
        width: 300px;
        background-color: #fff;
        position: relative;
        top: auto;
        left: 50%;
        margin: -70px 0 0 0; }
      .event-production .graphics-event .record {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px;
        margin: -51px 0 0 200px; }
        .event-production .graphics-event .record .record-sign {
          -webkit-animation: Pulse 2s infinite;
          width: 35px;
          height: 35px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          border-radius: 25px;
          background-color: #ff1800;
          margin: 30px 0 0 30px; }

  .work-ip {
    font-size: 1.3em;
    line-height: 1.4em; }
    .work-ip .inner-circle {
      margin: 120px auto 0; }
      .work-ip .inner-circle .linevertical {
        width: 100px;
        margin: 20px 0 0 -100px; }
    .work-ip .cloud .inner-circle {
      margin: 100px 0 0 -120px; }
      .work-ip .cloud .inner-circle .linevertical {
        margin: 20px 0 0 0; }

  #heythere {
    padding: 100px 0 0 0; }
    #heythere .gestalten {
      height: 350px;
      width: 600px; }
      #heythere .gestalten .augen-brut {
        margin: 55px 0 0 270px;
        -webkit-animation: blinksmall 4s infinite; }
      #heythere .gestalten .augen-broots {
        margin: 140px 0 0 360px;
        -webkit-animation: blinksmallbroots 3s infinite; }
    #heythere .spitzmarke-about {
      font-size: 1em;
      line-height: 1em;
      padding: 53px 0 0 0; }
    #heythere .headline-about {
      font-size: 2em; }
      #heythere .headline-about p {
        font-size: 3em; }

  #explaination {
    font-size: 2em; }

  #quote-broots {
    font-size: 0.8em;
    line-height: 0.8em;
    padding: 0px 0 0 0; }

  .platzhalter {
    min-height: 620px; }
    .platzhalter .spitzmarke-about {
      margin: 30px 0 0 0;
      font-size: 1.3em;
      line-height: 1.4em; }
    .platzhalter .headline-about {
      margin: 50px 0 0 0; }
      .platzhalter .headline-about p {
        font-size: 2em; }
    .platzhalter .date-coming {
      font-size: 1.3em;
      line-height: 1.4em;
      margin: 1em auto; }
    .platzhalter a {
      border-bottom: 1px solid white;
      color: white;
      padding: 0px 0 2px 0;
      position: relative; }
    .platzhalter a:hover {
      color: #272727;
      border-bottom: 1px solid #272727; }
    .platzhalter .intro-platzhalter {
      font-size: 1.3em;
      line-height: 1.4em;
      width: 40%;
      min-width: 450px;
      margin: 200px 0 0 0;
      line-height: 1.7em;
      left: 32%; }

  .eye {
    position: absolute;
    margin: 250px 0 0 0;
    height: 50px;
    width: 50px;
    -webkit-animation: blink 4s infinite; } }
@media screen and (max-width: 960px) {
  .linevertical {
    height: 2px;
    width: 90px;
    background-color: #fff;
    position: relative;
    top: auto;
    left: 50%;
    margin: 20px 0 0 -90px; }

  .pre-production .launchfirst {
    margin: 0 0 0 -350px; }
  .pre-production .right-collum {
    padding: 50px 0 0 0; }

  .event-production {
    height: 650px;
    font-size: 1.3em;
    line-height: 1.4em; }
    .event-production .description-event {
      width: 340px;
      margin: 260px 0 0 0; }
      .event-production .description-event p {
        font-size: 2em; }
    .event-production .text-rec {
      margin: 190px 0 0 225px;
      font-size: 1.3em;
      line-height: 1.4em; }
    .event-production .graphics-event {
      margin: 50px 0 0 0; }
      .event-production .graphics-event .linevertical2 {
        height: 2px;
        width: 300px;
        background-color: #fff;
        position: relative;
        top: auto;
        left: 50%;
        margin: -70px 0 0 0; }
      .event-production .graphics-event .record {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px;
        margin: -51px 0 0 200px; }
        .event-production .graphics-event .record .record-sign {
          -webkit-animation: Pulse 2s infinite;
          width: 35px;
          height: 35px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          border-radius: 25px;
          background-color: #ff1800;
          margin: 30px 0 0 30px; }

  .work-ip .inner-circle {
    margin: 150px auto 0; }
  .work-ip .wheels {
    margin: 110px 0 0 -320px; }
    .work-ip .wheels .gear {
      height: 120px;
      width: 120px;
      background-size: 120px; }
    .work-ip .wheels .anders {
      height: 120px;
      width: 120px;
      margin: 0 0 0 120px; }
  .work-ip .cloud {
    background: url(../media/cloud.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 400px 0 0 150px;
    height: 200px;
    width: 200px; }
    .work-ip .cloud .inner-circle {
      margin: 80px 0 0 -170px; }
      .work-ip .cloud .inner-circle .linevertical {
        margin-left: 0px;
        width: 160px; }

  #heythere {
    padding: 100px 0 0 0; }
    #heythere .gestalten {
      height: 235px;
      width: 400px; }
      #heythere .gestalten .augen-brut {
        margin: 28px 0 0 180px;
        -webkit-animation: blinksmall 4s infinite; }
      #heythere .gestalten .augen-broots {
        margin: 90px 0 0 225px;
        -webkit-animation: blinksmallbroots 3s infinite; }
    #heythere .spitzmarke-about {
      font-size: 1em;
      line-height: 1em;
      padding: 36px 0 0 0; }
    #heythere .headline-about {
      font-size: 1.6em;
      line-height: 1.4em; }
      #heythere .headline-about p {
        font-size: 3em;
        line-height: 1em; }

  #explaination {
    font-size: 2em;
    padding: 50px 0; }

  #quote-broots {
    font-size: 0.8em;
    line-height: 0.8em;
    padding: 50px 0 0 0; }

  .inner-about {
    width: 90%;
    padding: 50px 0 0 0; }

  .dieMacher ul .sue-macher .sue-main {
    width: 45%;
    margin: 70px 0 0 0;
    float: none; }
  .dieMacher ul .sue-macher .sue-sec {
    width: 56%;
    margin: 10px 0 0 0; }

  .platzhalter .intro-platzhalter {
    min-width: 400px; } }
